<div class="topbutton" style="text-align:center; padding:10px 0px 20px 0px;">
  <a href="{{ site.url }}{{ site.baseurl }}/index" style="margin-right:10px">
    <button type="button" class="btn btn-primary btn-lg">Home</button>
  </a>
  <a href="{{ site.url }}{{ site.baseurl }}/people" style="margin-right:10px">
    <button type="button" class="btn btn-success btn-lg">People</button>
  </a>
  <a href="{{ site.url }}{{ site.baseurl }}/schedule" style="margin-right:10px">
    <button type="button" class="btn btn-info btn-lg">Schedule</button>
  </a>
  <a href="{{ site.url }}{{ site.baseurl }}/tasks" style="margin-right:10px">
    <button type="button" class="btn btn-warning btn-lg">Tasks</button>
  </a>
    <a href="{{ site.url }}{{ site.baseurl }}/photos" style="margin-right:10px">
    <button type="button" class="btn btn-danger btn-lg">Photos</button>
  </a>
    <!--
    <a href="{{ site.url }}/{{ site.baseurl }}/chat" style="margin-right:10px">
    <button type="button" class="btn btn-primary btn-lg">Chat</button>
  </a>
  <a href="{{ site.url }}/{{ site.baseurl }}/course-notes" style="margin-right:10px">
    <button type="button" class="btn btn-success btn-lg">Course Notes</button>
  </a>
  <a href="{{ site.url }}/{{ site.baseurl }}/dataset" style="margin-right:10px">
    <button type="button" class="btn btn-danger btn-lg">Dataset</button>
  </a>
  <a href="" style="margin-right:10px">
    <button type="button" class="btn btn-warning btn-lg">Assignments</button>
  </a>
  <a href="" style="margin-right:10px;">
    <button type="button" class="btn btn-primary btn-lg">Leaderboard</button>
  </a>
  -->
</div>
