@import "vars";

/*
 * Basic
 */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 * Header
 */

.navbar {
    padding: 40px 0 0px 0;
    text-align: center;
    background-color: #1f2833;
    margin-bottom: -20px;
}
#navbar-title {
    font-size: 32px;
    color: #66fcf1;
    display: inline-block;
    font-weight: bold;
}
#navbar-subtitle {
    font-size: 20px;
    padding: 5px 0px 0px 0px;
    color: #66fcf1;
    display: inline-block;
    font-weight: bold;
}
.navbar-nav{
    padding: 10px 0px 0px 0px;
    margin: 0px;
    width:100%;
    text-align: center;
}
.navbar-nav li{
    text-align: center;
    vertical-align: bottom;
    float: none;
    display: inline-block;
}
.navbar-nav li a{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #45A29E;
}


.alignable {
    display: inline-block;
}
.pull-left {
    @extend .alignable;
    float: left;
}
.pull-right {
    @extend .alignable;
    float: right;
}
.footer {
    padding: 40px 0 40px 0;
    text-align: center;
}

/* Divs */

.container {
    max-width: $max-width;
    margin: auto;
}
.wrapper {
    min-height: 100%;
}

/* Mobile */

@media (max-width: 800px) {
    .container {
        max-width: $med-width;
        transition: 0.3s ease all;
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%;
    }
    .navbar-ul {
        margin-top: 5px;
    }
}

@media (max-width: 580px) {
    #author-name {
        display: inline-block;
    }
}

@import "typography";
@import "tables";
